
# Secrets and Credentials
.gemini/*.json
!.gemini/projects.json
.gemini/installation_id
.gemini/.safety_lock
.gemini/oauth_creds.json
.gemini/credentials.json

# Large binaries and muisic
chrome/
chromium/
chromedriver/
snap/
AutoInvoice/
Dropbox/
Apsaimniekošana/
Загрузки/
Изображения/
Музыка/
Видео/
Документы/
Рабочий стол/
Шаблоны/
.gemini/ENGINE/repos/
.gemini/tmp/
.gemini/TRASH/

